doctype html
//if lt IE 7
	html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en", ng-app="myApp")
//if IE 7
	html(class="no-js lt-ie9 lt-ie8", lang="en", ng-app="myApp")
//if IE 8
	html(class="no-js lt-ie9", lang="en", ng-app="myApp")
// [if gt IE 8] <!
html(class="no-js", lang="en", ng-app="myApp")
	// <![endif]
	head
		title My AngularJS App with Gulp and Jade
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css")
		link(rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css")
		link(rel="stylesheet" href="stylesheets/screen.css")
		script(src="app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js")
	body
		ul.menu
			li
				a(href="#/view1") view1
			li
				a(href="#/view2") view2
		//if lt IE 7
			p.browsehappy!="ou are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience."
		//[endif]

		div(ng-view)

		div Angular seed app: v
			span(app-version)

		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="js/all.min.js")