doctype html
html(class="no-js", lang="en", ng-app="myApp")
	head
		title My AngularJS App with Gulp and Jade
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
	body
		ul.menu
			li
				a(href="#/view1") view1
			li
				a(href="#/view2") view2

		div(ui-view)

		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/ui-router/release/angular-ui-router.min.js")
		script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		script(src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
		script(src="bower_components/angular-cookie/angular-cookie.min.js")
		script(src="js/controllers.js")
		script(src="js/directives.js")
		script(src="js/filters.js")
		script(src="js/services.js")
		script(src="js/app.js")